@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa.ttf);
}

@font-face {
    font-family: "Bozart";
    src: url(../fonts/Bozart.ttf);
}

:root {
    --color-header-footer: #1992d3;
    --color-grid: black;
    --color-grid-space: #cf083f;
    --color-main: #ecbc6c;
    --font-general: "Comfortaa";
    --font-x-and-o: "Bozart";
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-general);

    height: 100vh;

    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--color-header-footer);

    font-size: 2rem;
    font-weight: bold;

    display: grid;
    place-content: center;
}

.main {
    background-color: var(--color-main);

    display: grid;
    place-content: center;
}

.main .grid {
    background-color: var(--color-grid);

    width: 480px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.main .grid .grid-space {
    font-family: var(--font-x-and-o);
    font-size: 8rem;

    background-color: var(--color-grid-space);

    aspect-ratio: 1/1;

    display: grid;
    place-content: center;
}

.footer {
    background-color: var(--color-header-footer);

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {

}

.footer img {
    height: 1rem;
}