@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa.ttf);
}

@font-face {
    font-family: "Bozart";
    src: url(../fonts/Bozart.ttf);
}

:root {
    --color-header-footer: #5588ff;
    --color-grid: black;
    --color-grid-space: #dd4444;
    --color-main: #ffcc66;
    --color-button-checked: #7799dd;
    --color-button-checked-hover: #5588ee;
    --color-button-unchecked: #cc99cc;
    --color-button-unchecked-hover: #aa66aa;
    --color-button-unchecked-click: #552255;
    --font-general: "Comfortaa";
    --font-x-and-o: "Bozart";
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font-general);

    background-color: var(--color-main);

    height: 100vh;

    display: grid;
    grid-template-rows: 60px 2fr 8fr 1fr 1fr 60px;
}

p {
    margin: 0;
    padding: 0;
}

.header {
    background-color: var(--color-header-footer);

    font-size: 2rem;
    font-weight: bold;

    display: grid;
    place-content: center;
}

.players {
    padding: 25px 10px;

    display: grid;
    place-content: center;
    place-items: center;
    row-gap: 5px;

}

.players .player {
    display: flex;
    align-items: center;
    gap: 10px;
}

.radio-buttons {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-labels {
    font-size: 0.7rem;
    width: 100px;
    height: 30px;
    border-width: 0;
    border-radius: 5px;
    background-color: var(--color-button-unchecked);
    -webkit-text-stroke: 0.5px;
    display: grid;
    place-content: center;
}

.radio-labels:hover {
    background-color: var(--color-button-unchecked-hover);
}

.radio-buttons:checked + .radio-labels {
    background-color: var(--color-button-checked);
}

.radio-buttons:checked + .radio-labels:hover {
    background-color: var(--color-button-checked-hover);
}

.main {
    padding: 25px 10px;

    display: grid;
    place-content: center;
}

.main .grid {
    width: 480px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;

}

.main .grid .grid-space {
    font-family: var(--font-x-and-o);
    font-size: 6rem;

    background-color: var(--color-grid-space);

    aspect-ratio: 1/1;

    display: grid;
    place-content: center;
}

.game-over-message {
    padding: 25px 10px;
    
    display: grid;
    place-content: center;
}

.restart {
    padding: 25px 10px;

    display: grid;
    place-content: center;
}

.restart button {
        font-size: 0.7rem;
        width: 100px;
        height: 30px;
        border-width: 0;
        border-radius: 5px;
        background-color: var(--color-button-unchecked);
        -webkit-text-stroke: 0.5px;
        display: grid;
        place-content: center;
}

.restart button:hover {
    background-color: var(--color-button-unchecked-hover);
}

.restart button:active {
    background-color: var(--color-button-unchecked-click);
}

.footer {
    font-weight: bold;
    
    background-color: var(--color-header-footer);

    display: flex;
    align-items: center;
    justify-content: center;
}

.footer a {

}

.footer img {
    height: 1rem;
}